.el-input {
  position: relative;
  font-size: 14px;
  display: block;
  width: 80%;
  margin: 0 auto;
}
.light .el-input-group{
  line-height: normal;
  display: inline-table;
  width: 100%;
  /*background: #E2E2E2;*/
  /*opacity: 0.4;*/
  border-radius: 4px;
  border: 1px solid #E2E2E2;
}
.dark .el-input-group{
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: #182937;
  opacity: 0.4;
  border-radius: 4px;
}
.el-input--small{
  font-size: 13px;
}
.dark .el-input-group__append, .el-input-group__prepend {
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border-radius: 4px;
  padding: 0 8px;
  width: 1px;
  white-space: nowrap;
  color: #6086A8;
  background: transparent;
}
.light .el-input-group__append, .el-input-group__prepend {
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border-radius: 4px;
  padding: 0 8px;
  width: 1px;
  white-space: nowrap;
  color: #878787;
  background: #ffffff;
}

.el-input-group--prepend .el-input__inner, .el-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.el-input-group__append {
  border-left: 0;
}
.dark .el-input__inner {
  -webkit-appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.light .el-input__inner {
  -webkit-appearance: none;
  background-color: #ffffff;
  background-image: none;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1E1E1E;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.el-input__inner:hover {
  border-color: #c0c4cc;
}
.el-input--small .el-input__inner {
  height: 36px;
  line-height: 36px;
  /*margin-bottom: 1px;*/
}
.el-input-group>.el-input__inner {
  vertical-align: middle;
  display: table-cell;
}
.el-input-group--append .el-input__inner, .el-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
