html.theme-dark .group-wWM3zP_M-{
  background-color: #2A4862 !important;
}
html.theme-dark .layout__area--center{
  background-color: #1F3548 !important;
}
html.theme-dark .toolbar-2n2cwgp5-{
  padding: 0px !important;
}
html.theme-dark .chart-page .chart-container{
  border: none !important;
}
html.theme-dark .group-wWM3zP_M-{
  margin: 0px !important;
  border-radius: 0px !important;
}
html.theme-dark .customButton--jqJTfH5-{
  font-size: 12px !important;
}
html.theme-dark .customButton--jqJTfH5-.active{
  color: #B3DCFF !important;
}
html.theme-dark .fadeRight-36gcjOQb-{
  background: transparent !important;
}
html.theme-dark .fadeLeft-31arUEZY-{
  background: transparent !important;
}
html.theme-dark ._tv-dialog{
  border-color: #1F3548;
  background: #2A4862;
}
html.theme-dark .tv-dialog {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.5);
  background-color: #2A4862;
}
html.theme-dark .tv-floating-toolbar {
  border-color: #1F3548;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.5);
  background-color: #2A4862;
}
html.theme-dark .tv-linetool-properties-toolbar__color-picker .colorpicker-widget+svg .bg {
  fill: #1F3548;
}
html.theme-dark .tv-select-container{
  background-color: #1F3548;
}
html.theme-dark .tv-search-row__input {
  background-color: #1F3548;
}
html.theme-dark .tv-insert-indicator-dialog__search-control input{
  background-color: #1F3548;
}
html.theme-dark .tv-grouped-floating-toolbar__widget-wrapper {
  background-color: #1F3548;
}
html.theme-dark .menuWrap-23ejLU7n- {
  background-color: #1F3548;
  box-shadow: 0 2px 5px 0 #1F3548;
}
html.theme-dark .item-2xPVYue0- {
  color: #758696;
  background-color: #1F3548;
}
html.theme-dark .tv-text-input {
  border-color: #1F3548;
  color: #c5cbce;
}
html.theme-dark .tv-text-input.inset {
  background: #2A4862;
}
html.theme-dark .tv-ticker__btn {
  background: #2A4862;
  border-color: #1F3548;
}
html.theme-dark .tv-select-container .sbOptions, html.theme-dark .tv-unstyled-select-container .sbOptions {
  border-color: #1F3548;
  background: #2A4862;
}
html.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9- {
  background-color: #1F3548;
}
html.theme-light .chart-page{
  background-color: #ffffff;
}
